{% extends "cosmos/base.html" %}

{% block title %}
    GenomeKey
{% endblock %}

{% block brand %}
    GenomeKey
{% endblock %}

{% block navtext %}
    GENOMEKEY
{% endblock %}


{% block navmenu %}
<ul class="nav navbar-nav">
    <li><a href="" >Blank</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Repositories <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="">LPM</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">name</li>
            <li><a tabindex="-1" href="https://github.com/LPM-HMS/GenomeKey_v2"
                   target="_blank">GenomeKey</a></li>
            <li><a tabindex="-2" href="https://github.com/LPM-HMS/Cosmos2"
                   target="_blank">COSMOS</a></li>
        </ul>
    </li>
</ul>
{% endblock %}